[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/boost-noexcept"]
	path = vendor/boost-noexcept
	url = https://github.com/zajo/boost-noexcept
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "vendor/zipkin-cpp"]
	path = vendor/zipkin-cpp
	url = https://github.com/rai-project/zipkin-cpp
